body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    font-size: 0.75em;
}

.res-disclaimer {
    background: #FFD54F;
    overflow: hidden;

    p {
        margin: 1em auto;
        width: 80%;
    }
}

.strike {
    text-decoration: line-through;
}

@media (min-width: 1440px) {
    body {
        font-size: 1em;
    }

    .res-disclaimer {
        display: none;
    }
}
