.arrow-down {
    height: 1em;
    width: 1em;
    display: flex;

    &::after {
        border-bottom: solid var(--arrow-color, var(--color, #000)) 0.125em;
        border-left: solid var(--arrow-color, var(--color, #000)) 0.125em;
        content: '';
        display: block;
        height: 0.7em;
        margin-top: -0.1875em;
        margin-right: auto;
        margin-left: auto;
        transform: rotate(-45deg);
        width: 0.7em;
    }
}
