/* ************************************************************
  this file contains the style for the classic textbox
 *********************************************************** */

.text--wrap {
    padding: 5em 1em;

    .text--box {
        display: block;
        margin: 0 auto;
        max-width: 80em;
        width: 80%;
    }

    .text--headline {
        display: block;
        font-weight: 100;
        font-family: "Roboto Mono", monospace;
        margin: 0 auto;
        max-width: 80em;
        width: 80%;
    }

    .headline--text {
        font-size: 1.5em;
    }
}
