<!doctype html>
<html lang="en">
{% include 'head.twig' %}

<body>
<div class="res-disclaimer"><p>This page is not optimized for your resolution, so it might looks a bit odd. (the script itself, however, should not be effected by that)</p></div>
{% include 'pages/front.twig' %}
{% include 'pages/basics.twig' %}
{% include 'pages/explanation.twig' %}
{% include 'pages/requirements.twig' %}
{% include 'scripts.twig' %}
</body>
</html>
