<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../src/String.format.js"></script>
<script src="../src/AnimateProperty.es6"></script>
<script src="../src/AnimateScroll.es6"></script>
<script src="../src/ScrollToElement.es6"></script>
<script>
    $("[data-animate-scroll=true]").AnimateScroll();
</script>
