<div class="page page--basics" id="basics">
    <div class="scroll-example--color"
         data-animate-scroll="true"
         data-scroll-property="background"
         data-scroll-property-from="#81d4fa"
         data-scroll-property-to="#ffd54f"
         data-scroll-from="75vh"
         data-scroll-to="100vh">
        <div class="text--wrap">
            <div class="text--headline"><span class="headline--text">Background</span></div>
            <div class="text--box">
                <pre><code>data-scroll-property="background"
data-scroll-property-from="#33F"
data-scroll-property-to="#77F"</code></pre>
            </div>
        </div>
    </div>

    <div class="scroll-example--height">
        <div class="scroll-example--height-animated"
             data-animate-scroll="true"
             data-scroll-property="height"
             data-scroll-property-from="0"
             data-scroll-property-to="100%"
             data-scroll-from="110vh"
             data-scroll-to="150vh">
            <div class="center--wrap">
                <div class="text--wrap">
                    <div class="text--headline"><span class="headline--text">Height</span></div>
                    <div class="text--box">
                <pre><code>data-scroll-property="height"
data-scroll-property-from="0"
data-scroll-property-to="100%"</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-example--slide">
        <div class="scroll-example--scroll-left"
             data-animate-scroll="true"
             data-scroll-property="left"
             data-scroll-property-from="-50%"
             data-scroll-property-to="0"
             data-scroll-from="125vh"
             data-scroll-to="175vh">
            <div class="center--wrap">
                <div class="text--wrap">
                    <div class="text--headline"><span class="headline--text">Slide</span></div>
                    <div class="text--box">
                <pre><code>data-scroll-property="left"
data-scroll-property-from="-50%"
data-scroll-property-to="0"</code></pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="scroll-example--scroll-right"
             data-animate-scroll="true"
             data-scroll-property="right"
             data-scroll-property-from="-50%"
             data-scroll-property-to="0"
             data-scroll-from="125vh"
             data-scroll-to="175vh">
            <div class="center--wrap">
                <div class="text--wrap">
                    <div class="text--headline"><span class="headline--text">Also multiple elements</span></div>
                    <div class="text--box">
                <pre><code>data-scroll-property="right"
data-scroll-property-from="-50%"
data-scroll-property-to="0"</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
