<div class="page page--explanation">
    <div class="scroll-example--text-from-top">
        <div class="center--wrap"
             data-animate-scroll="true"
             data-scroll-animation="explanation-headline-slide-down"
             data-scroll-from="200vh"
             data-scroll-to="225vh">
            <div class="text--wrap">
                <div class="text--headline"><span class="headline--text">But how?</span></div>
                <div class="text--box">
                    <p>
                        (Spoiler: html attributes)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-example--expand-left"
         data-animate-scroll="true"
         data-scroll-property-from="-100%"
         data-scroll-property-to="0"
         data-scroll-property="margin-left"
         data-scroll-from="200vh"
         data-scroll-to="250vh">
        <div class="text--wrap">
            <div class="text--headline">
                <div class="headline--text">First</div>
            </div>
            <div class="text--box">
                <p>
                    as first, you will need an element, which you want to animate when the user scrolls from X to Y
                </p>
                <pre><code>
&lt;span data-scroll-property="color"
      data-scroll-property-from="red"
      data-scroll-property-to="blue"
      data-scroll-from="100"
      data-scroll-to="200"&gt;
    This text will change its color from red to blue, when the user scrolls from 100 to 200 px
&lt;/span&gt;</code></pre>
            </div>
        </div>
    </div>

    <div class="scroll-example--expand-right"
         data-animate-scroll="true"
         data-scroll-property-from="100%"
         data-scroll-property-to="0"
         data-scroll-property="margin-left"
         data-scroll-from="225vh"
         data-scroll-to="275vh">
        <div class="text--wrap">
            <div class="text--headline">
                <div class="headline--text">Second</div>
            </div>
            <div class="text--box">
                <p>
                    besides of the attributes, you have to call the method <code>AnimateScroll</code> via jQuery on your
                    element.<br>
                    In my example the calling part looks like this:
                </p>
                <p><code>$("[data-animate-scroll=true]").AnimateScroll();</code></p>
                <p>
                    with that code snippet, every element with the <code>data-animate-scroll="true"</code> attribute,
                    will get their scroll effects
                </p>
            </div>
        </div>
    </div>

    <div class="scroll-example--expand-left"
         data-animate-scroll="true"
         data-scroll-property-from="-100%"
         data-scroll-property-to="0"
         data-scroll-property="margin-left"
         data-scroll-from="250vh"
         data-scroll-to="325vh">
        <div class="text--wrap">
            <div class="text--headline">
                <div class="headline--text">How to do complex animations?</div>
            </div>
            <div class="text--box">
                <p>
                    for "more complex" animations (like animating 2 properties) you just replace the attributes
                </p>
                <ul>
                    <li><code>data-scroll-property</code></li>
                    <li><code>data-scroll-property-from</code></li>
                    <li><code>data-scroll-property-to</code></li>
                </ul>
                <p>
                    with <code>data-scroll-animation</code>, this attribute gets a CSS animation name, which has to be
                    defined in CSS already (the script itself does nothing else with the properties, except, that it
                    will create the animation by itself)
                </p>
                <pre><code>
&lt;span data-scroll-animation="animate-color-from-red-to-blue"
      data-scroll-from="100"
      data-scroll-to="200"&gt;
    This text will change its color from red to blue, when the user scrolls from 100 to 200 px
&lt;/span&gt;</code></pre>
            </div>
        </div>
    </div>

    <div class="scroll-example--expand-right"
         data-animate-scroll="true"
         data-scroll-property-from="100%"
         data-scroll-property-to="0"
         data-scroll-property="margin-left"
         data-scroll-from="300vh"
         data-scroll-to="375vh">
        <div class="text--wrap">
            <div class="text--headline">
                <div class="headline--text">Can I use CSS units?</div>
            </div>
            <div class="text--box">
                <p>
                    in the <code>data-scroll-property-from</code> and <code>data-scroll-property-to</code> attributes,
                    you can use any valid CSS value (including CSS variables), and in the <code>data-scroll-from</code>
                    and <code>data-scroll-to</code> attributes you can use the units <code>vw</code>, <code>vh</code>
                    and <code>%</code>. The units are all calculated in JavaScript, so they might not fit the real CSS
                    value. However, when you're giving no unit, the number will be interpreted as pixel value.
                </p>
                <ul>
                    <li><code>100vw</code> = $(window).width()</li>
                    <li><code>100vh</code> = $(window).height()</li>
                    <li><code>100%</code> = $(document).height()</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="scroll-example--expand-left"
         data-animate-scroll="true"
         data-scroll-property-from="-100%"
         data-scroll-property-to="0"
         data-scroll-property="margin-left"
         data-scroll-from="350vh"
         data-scroll-to="425vh">
        <div class="text--wrap">
            <div class="text--headline">
                <div class="headline--text">Something else?</div>
            </div>
            <div class="text--box">
                <p>
                    The <code>$().AnimateScroll()</code> can not only add cool scroll animations, it can also adds a
                    smooth scroll to links<br>
                </p>
                <p>
                    <code>&lt;a href="#myId" data-scroll-duration="1000"&gt;Click me&lt;/a&gt;</code> (the <code>data-scroll-duration</code>
                    is given in ms)
                </p>
                <p>But that's everything for now, I will maybe add more functions in the future (if I'm getting new
                    ideas) so if you don't like the script for now, come back later</p>
            </div>
        </div>
    </div>


</div>
