<div class="page-fixed page--front" id="front">
    <div class="scrolling--wrap" data-animate-scroll="true" data-scroll-from="0" data-scroll-to="50vh"
         data-scroll-animation="front-scrolling-wrap">
        <div class="text--wrap">
            <div class="text--headline"><span class="headline--text">AnimateScroll</span></div>
            <div class="text--box">
                <p>
                    AnimateScroll is a small JavaScript plugin which will help you doing this:
                </p>
            </div>
        </div>
    </div>

    <div class="arrow--wrap">
        <a href="#basics" data-animate-scroll="true" data-scroll-duration="1000"><span class="arrow-down"></span></a>
    </div>
</div>
