<div class="page--requirements">
    <div class="section--requirements">
        <div class="center--wrap">
            <div class="text--wrap">
                <div class="text--headline"><span class="headline--text">WAIT! This will maybe help you:</span></div>
                <div class="text--box">
                    <p>
                        for this script to work you have to load the following scripts:
                    </p>
                    <ul>
                        <li>jquery.js (this demo uses ^3.2.1)</li>
                        <li>AnimateProperty.es6 (adds the <code>$().AnimateScroll()</code> method)</li>
                        <li>AnimateScroll.es6 (adds the scroll animations)</li>
                        <li>ScrollToElement.es6 (adds the smooth scroll - you don't need this, if you're not using it)
                        </li>
                        <li>String.endsWith.js (or any other polyfill for a <code>"".endsWith("something")</code>)
                            method
                        </li>
                        <li>String.startsWith.js (or any other polyfill for a <code>"".<span class="strike">ends</span>startsWith("something")</code>)
                            method
                        </li>
                    </ul>
                    <p>
                        You can download/clone it here: https://gitlab.com/Yannik_Sc/AnimateScroll (<code>git clone https://gitlab.com/Yannik_Sc/AnimateScroll.git</code>)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
