.page--basics {
    [data-animate-scroll=true] {
        animation-timing-function: linear;
    }

    .scroll-example--color {
        align-items: center;
        display: flex;
        font-size: 1.25em;
        height: 50vh;
    }

    .scroll-example--height {
        height: 50vh;

        &-animated {
            background-color: #81D4FA;
            font-size: 1.25em;
            overflow: hidden;

            .center--wrap {
                align-items: center;
                display: flex;
                height: 50vh;
            }
        }
    }

    .scroll-example--slide {
        color: #000;
        display: flex;
        font-size: 1.25em;
        flex-wrap: wrap;
        height: 50vh;
        overflow: hidden;
        width: 100%;
        position: relative;

        .center--wrap {
            align-items: center;
            display: flex;
            height: 50vh;
        }

        .text--wrap {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    .scroll-example--scroll-left,
    .scroll-example--scroll-right {
        background-color: #FFC107;
        position: absolute;
        width: 50%;
    }

    .scroll-example--scroll-right {
        background-color: #FFD54F;
        text-align: right;
    }
}
