.page--explanation {
    .scroll-example--text-from-top {
        font-size: 1.25em;
        height: 25vh;
        margin-top: 0;
        overflow: hidden;

        .center--wrap {
            align-items: center;
            background: #4BA3C7;
            display: flex;
            height: 25vh;
        }

        .text--wrap {
            width: 100%;
        }

        .text--box p {
            font-size: 0.6em;
        }
    }

    .scroll-example--expand-left,
    .scroll-example--expand-right {
        animation-timing-function: linear;
        background-color: #B6FFFF;
        font-size: 1.10em;
        height: 50vh;
        width: 100%;

        .text--wrap {
            width: 50%;
            margin-left: 3.125em;
        }
    }

    .scroll-example--expand-right {
        background-color: #81D4FA;

        .text--wrap {
            margin-left: auto;
            margin-right: 3.125em;
            width: 50%;
        }
    }
}

@keyframes explanation-headline-slide-down {
    0% {
        margin-top: -25vh;
        background: #FFD54F;
    }

    100% {
        margin-top: 0;
        background: #4BA3C7;
    }
}
