.page--front {
    font-size: 1.5em;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .scrolling--wrap {
        background-color: #b3e5fc;
        height: 50vh;
        width: 100%;

        .text--wrap {
            width: 40vw;
            margin: 0 auto;
        }
    }

    .arrow--wrap {
        flex: 0 0 25vh;
        margin-top: auto;
    }

    .arrow-down {
        font-size: 1.5em;
        --arrow-color: #333;

        &::after {
            transition: margin-top .3s;
        }

        &:hover::after {
            transition-duration: 1s;
            margin-top: -.5em;
        }
    }
}

@keyframes front-scrolling-wrap {
    0% {
        width: 45%;
    }

    100% {
        width: 100%;
    }
}
