.page--requirements {
    .section--requirements {
        font-size: 1.2em;
        margin-top: 0;
        overflow: hidden;

        .center--wrap {
            align-items: center;
            background: #FFD54F;
            display: flex;
        }

        .text--wrap {
            width: 100%;
        }
    }
}
